$background: var(--color1);
$secondary: var(--color2);
$tertiary: var(--color3);
$quaternary: var(--color4);
$font: var(--font);
$invFont: var(--invFont);

.menu {
  width: 100%;
  background: $background;
  ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
  }
  > ol {
    display: flex;
    > .menu-item {
      max-height: 60px;
      color: $font;
      flex: 1;
      &:hover {
        background: $tertiary;
      }
      &:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        bottom: 5px;
        left: calc(50% - 2px);
        background: $font;
        will-change: transform;
        transform: scale(0);
        transition: transform 0.2s ease;
      }
      &:hover:after {
        transform: scale(1);
      }
      a {
        padding: 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        color: $font;
      }
    }
    .search {
      padding: 0;
      max-width: auto;
    }
  }
  &-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
    @at-root .sub-menu & {
      padding: 5px 0;
      background: $background;
      opacity: 0;
      transform-origin: bottom;
      animation: enter 0.2s ease forwards;

      @for $n from 1 through 4 {
        &:nth-child(#{$n}) {
          animation-duration: 0.1s + 0.1s * ($n - 1);
          animation-delay: 0.1s * ($n - 1);
        }
      }

      &:hover {
        background: $tertiary;
      }
      a {
        padding: 0 0.75rem;
      }
    }
  }
  img {
    width: 85%;
    height: 100%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  .logoa {
    padding: 0 !important;
    height: 100%;
    min-width: 110px;
    max-height: 110px;
  }
}
.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;

  @at-root .menu-item:hover > & {
    display: block;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//toggle theme menu item
.toggle-theme {
  max-width: 80px;
  background-color: transparent;
  @media screen and (max-width: 650px) {
    max-width: 60px;
  }
}
.ant-switch-checked {
  background-color: $secondary;
}

.ant-switch {
  height: 27px;
  margin-top: 13px;
}

.ant-switch-handle::before {
  height: 18px;
  top: 3px;
}

//icons
.material-icons {
  font-size: 22px;
  line-height: 28px;
  color: $font;
}

//search input
$height: 50px;
$width: 50px;
.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: $height;
  height: $width;
  background: var(--invFont);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid var(--invFont);
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  border-radius: 20px;
  padding: 0 10px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: $background;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.form:hover {
  width: 180px;
  cursor: pointer;
}

.form:hover .input {
  display: block;
  background: var(--invFont);
  color: $font;
}

.form:hover .fa {
  background: $background;
  color: $font;
}
.selected {
  background-color: $tertiary;
}
