.Profile {
    position: absolute;
    width: 100%;
    color: var(--font);
    text-transform: capitalize;

    .card {
        background-color: var(--bg);
        width: 600px;
        margin: 15px auto;
        padding: 0 30px 10px 30px;
        border-radius: 20px;
        @media only screen and (max-width: 630px) {
            width: 95%;
        }
    }

    .title {
        font-size: 30px;
        font-weight: 80;
        margin-bottom: -5px;
    }

    .nome {
        font-size: 35px;
        font-weight: 600;
    }

    .logo {
        width: 144px;
        height: 144px;
        border-radius: 50%;
        border: 3px solid var(--font);
        margin: -35px auto 2px auto;
        cursor: pointer;
    }

    table {
        font-size: 20px;
    }

    td {
        padding: 8px 30px;
        width: 50%;
    }

    .dx {
        text-align: left;
        font-weight: 600;
    }

    .sx {
        text-align: right;
        border-right: var(--font) 1px solid;
        font-weight: 10;
    }

    button {
        width: 35%;
        min-width: 100px;
    }
}
