.MyPosts {
    position: absolute;
    min-height: 90vh;
    width: 100%;
    background-color: var(--bg);
    color: var(--font);
    padding-top: 10px;
    h1 {
        font-size: 30px;
    }
    .ant {
        &-pagination {
            margin: 20px auto;
            font-size: 20px;
            color: var(--font);
            &-item {
                background-color: var(--invFont);
                &-active {
                    border: 2px solid var(--font);
                }
                &-link {
                    background-color: var(--invFont);
                    color: var(--font);
                }
                a {
                    color: var(--font);
                }
            }
        }
        &-select {
            &-selection-item {
                font-size: 20px;
            }
            &-selector {
                background-color: var(--invFont) !important;
                color: var(--font);
            }
        }
    }
}
