.AuthorCard {
    margin: 30px;
    background-color: var(--color3);
    border-radius: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.4fr 1fr;
    gap: 0;
    grid-template-areas:
        "photo name name name"
        "photo description description description";
    .photo {
        grid-area: photo;
        padding: 10px;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .name {
        grid-area: name;
        font-size: 18px;
        margin: 12px 20px;
    }

    .description {
        grid-area: description;
        font-size: 15px;
        margin: 0 20px;
    }
}
