.Post {
    padding: 20px;
    color: var(--font);
    background-color: var(--bg);
    position: absolute;
    @media only screen and (max-width: 900px) {
        .related,.doc {
            width: 100% !important;
            margin: 15px auto;
        }
    }
    .image {
        width: 70%;
        height: 80%;
        margin-top: -15px;
        border-radius: 10px;
    }
    .doc {
        background-color: var(--invFont);
        float: left;
        width: 75%;
        margin-right: 2%;
        border-radius: 20px;
        .text {
            padding: 10px 5%;
            font-size: 15px;
        }
    }
    .tags{
        padding: 0 30px;
    }
    .related {
        background-color: var(--invFont);
        height: 100%;
        float: left;
        width: 23%;
        background-color: var(--invFont);
    }
    .title {
        font-size: 40px;
    }
    .ant-tag {
        box-sizing: border-box;
        font-size: 18px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        display: inline-block;
        height: auto;
        padding: 2px 7px;
        white-space: nowrap;
        border-radius: 2px;
        opacity: 1;
        transition: all 0.3s;
        margin: 2px 5px;
    }
}
