.Post {
    padding: 20px;
    color: var(--font);
    background-color: var(--bg);
    position: absolute;
    @media only screen and (max-width: 900px) {
        .related,.doc {
            width: 100% !important;
            margin: 15px auto;
        }
    }
    .image {
        width: 70%;
        height: 80%;
        margin-top: -15px;
        border-radius: 10px;
    }
    .doc {
        background-color: var(--invFont);
        float: left;
        width: 75%;
        margin-right: 2%;
        border-radius: 20px;
        .text {
            padding: 10px 5%;
            font-size: 15px;
        }
    }
    .related {
        background-color: var(--invFont);
        height: 100%;
        float: left;
        width: 23%;
        background-color: var(--invFont);
    }
    .title {
        font-size: 40px;
    }
}
