.Category{
    background-color: var(--bg);
    width: 100%;
    min-height: 90vh;
    .grid-container{
        width: 100%;
        padding: 10px 20px;
    }

    h1{
        text-transform: capitalize;
    }
    .ant{
        &-col{
            height: 430px;
            margin: 20px 0;
        }
    }
}