.Home {
    a {
        text-decoration: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 450px);
        gap: 20px 20px;
        grid-template-areas:
            "div1 div1 div2 div3"
            "div4 div5 div6 div7";
        padding: 20px;
        @media only screen and (max-width: 850px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 450px);
            gap: 10px 10px;
            grid-template-areas:
                "div1 div1 div2 "
                "div3 div4 div5 " 
                "div6 div7 div8";
        }
    }

    .div1 {
        grid-area: div1;
        //background-color: red;
    }

    .div2 {
        grid-area: div2;
        //background-color: blue;
    }

    .div3 {
        grid-area: div3;
        //background-color: green;
    }

    .div4 {
        grid-area: div4;
        //background-color: white;
    }

    .div5 {
        grid-area: div5;
        //background-color: yellow;
    }

    .div6 {
        grid-area: div6;
        //background-color: skyblue;
    }

    .div7 {
        grid-area: div7;
        //background-color: purple;
    }

    .div8 {
        grid-area: div8;
        visibility: hidden;
        //background-color: peru;
    }
}
